/Son/.vs/Son/v15/Browse.VC.opendb
/Son/.vs/Ex1/v15/Browse.VC.opendb
/Ex1/.vs/Ex1/v15/Browse.VC.opendb.
/Ex1/Son/Debug/*
/Ex1/.vs/Ex1/v15/
/Ex1/Son/Debug/
/Ex1/.vs/Ex1/v15/
/Ex1/Debug/Son.exe
/Ex1/Debug/Son.ilk
/Ex1/Debug/Son.pdb
/Ex1/Debug/Computation.txt
/Ex1/Debug/Father.exe
/Ex1/Debug/Father.ilk
/Ex1/Debug/Father.pdb
/Ex1/Debug/Son.exe
/Ex1/Debug/Son.ilk
/Ex1/Debug/Son.ilk.orig
/Ex1/Debug/Son.pdb
/Ex1/Debug/Son.pdb.orig
/Ex1/Debug/Computation.txt
/Ex1/Debug/Father.exe
/Ex1/Debug/Father.ilk
/Ex1/Debug/Father.pdb
