/Son/.vs/Son/v15/Browse.VC.opendb
/Son/.vs/Ex1/v15/Browse.VC.opendb
/Ex1/.vs/Ex1/v15/Browse.VC.opendb.
/Ex1/Son/Debug/*
/Ex1/.vs/Ex1/v15/
/Ex1/Son/Debug/
/Ex1/.vs/Ex1/v15/
/Ex1/Debug/Son.exe
/Ex1/Debug/Son.ilk
/Ex1/Debug/Son.pdb
/Ex1/Debug/Computation.txt
/Ex1/Debug/Father.exe
/Ex1/Debug/Father.ilk
/Ex1/Debug/Father.pdb
/Ex1/Debug/Son.exe
/Ex1/Debug/Son.ilk
/Ex1/Debug/Son.ilk.orig
/Ex1/Debug/Son.pdb
/Ex1/Debug/Son.pdb.orig
/Ex1/Debug/Computation.txt
/Ex1/Debug/Father.exe
/Ex1/Debug/Father.ilk
/Ex1/Debug/Father.pdb
/Ex1/.vs/Ex1/v15/.suo
/Ex1/.vs/Ex1/v15/Browse.VC.db
/Ex1/.vs/Ex1/v15/Solution.VC.db
/Ex1/Debug/Computation.txt
/Ex1/Debug/Computation.txt.orig
/Ex1/Debug/Father.exe
/Ex1/Debug/Father.ilk
/Ex1/Debug/Father.pdb
/Ex1/Debug/Son.exe
/Ex1/Debug/Son.ilk
/Ex1/Debug/Son.pdb
/Ex1/Father/Debug/argparser.obj
/Ex1/Father/Debug/Father.log
/Ex1/Father/Debug/Father.tlog/CL.command.1.tlog
/Ex1/Father/Debug/Father.tlog/CL.read.1.tlog
/Ex1/Father/Debug/Father.tlog/CL.write.1.tlog
/Ex1/Father/Debug/Father.tlog/Father.lastbuildstate
/Ex1/Father/Debug/Father.tlog/link.command.1.tlog
/Ex1/Father/Debug/Father.tlog/link.read.1.tlog
/Ex1/Father/Debug/Father.tlog/link.write.1.tlog
/Ex1/Father/Debug/lib_errorHandler.obj
/Ex1/Father/Debug/lib_father_funcs.obj
/Ex1/Father/Debug/lib_str_func.obj
/Ex1/Father/Debug/main.obj
/Ex1/Father/Debug/vc141.idb
/Ex1/Father/Debug/vc141.pdb
/Ex1/Father/Debug/winAPI.obj
/Ex1/Father/Father.vcxproj.user
/Ex1/Share/lib_errorHandler.c.orig
/Ex1/Share/lib_errorHandler.h.orig
/Ex1/Son/Debug/argparser.obj
/Ex1/Son/Debug/lib_errorHandler.obj
/Ex1/Son/Debug/lib_str_func.obj
/Ex1/Son/Debug/main.obj
/Ex1/Son/Debug/Son.log
/Ex1/Son/Debug/Son.tlog/CL.command.1.tlog
/Ex1/Son/Debug/Son.tlog/CL.read.1.tlog
/Ex1/Son/Debug/Son.tlog/CL.write.1.tlog
/Ex1/Son/Debug/Son.tlog/link.command.1.tlog
/Ex1/Son/Debug/Son.tlog/link.read.1.tlog
/Ex1/Son/Debug/Son.tlog/link.write.1.tlog
/Ex1/Son/Debug/Son.tlog/Son.lastbuildstate
/Ex1/Son/Debug/vc141.idb
/Ex1/Son/Debug/vc141.pdb
